<div class="p-20">
  <ul class="label">
    <div class="col-1">
      <li class="w-10">STT</li>
    </div>

    <div class="col-11 d-flex align-center">
      <div class="col-4">
        <li>Name</li>
      </div>

      <div class="col-4">
        <li>Author</li>
      </div>

      <div class="col-4">
        <li>Tags</li>
      </div>
    </div>
  </ul>

  <ul class="list-book">
    <li class="w-10" *ngFor="let book of books">
      <a href="" routerLink="/detail/{{ book.id }}" class="d-flex w-10">
        <div class="col-1">
          <div class="col-12 book-id p-15 d-flex-center h-10 align-center">
            {{ book.id }}
          </div>
        </div>
        <div class="col-11 d-flex">
          <div class="book-title col-4 p-15">
            {{ book.title }}
          </div>

          <div class="book-author col-4 p-15">
            {{ book.author }}
          </div>

          <div class="book-tag col-4 p-15">
            {{ book.tag }}
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>

<app-message></app-message>
